.div-login{
    width:20%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10vh;
    background-color: white;
} 

.div-login-logo{
    
    width: 100%;
    font-size: xx-large;
}

input{
    width: 100%;
    height: 50px;
    border: 1px solid #dbdbdb;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: larger;
}

.input-button{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background-color: dodgerblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: larger;
    padding: 5px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px;
}
.input-button:hover {
    transition: all 0.2s ease-in-out;
    background: rgb(98, 177, 255);
    color: #010606;
    cursor: pointer;
  }