.parameters-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;        
  }
  
  table.parameters-table {
    border-collapse: collapse;
    width: 100%;    
  }
  
  table.parameters-table th,
  table.parameters-table td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 20px;
  }
  
  table.parameters-table th {
    color: #ffffff;
    background-color: dodgerblue;
  }
  
  table.parameters-table td {
    background-color: rgb(205, 235, 253);
  }
  
  div.parameters-container form {
    display: flex;
    gap: 5px;
    align-self: center;
  }
  
  div.parameters-container form td:last-child {
    display:flex;
    justify-content: space-evenly;
    
  }
  
  div.parameters-container form * {
    font-size: 28px;
    
  }

  .item{
    margin-right: 5px;
  }

  