@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
*{
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button{
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: dodgerblue;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: larger;
  padding: 5px;
  font-weight: 600;
  border: none;
  color: white;
  border-radius: 5px;
  
}
.input-button :hover {
  transition: all 0.2s ease-in-out;
  background: rgb(98, 177, 255);
  color: #010606;
  cursor: pointer;
}